.navbar-logo {
  width: 100px;
}
.footer-logo-img {
  width: 200px;
}

@media (max-width: 992px) {
  .navbar-logo {
    width: 70px;
  }
  .footer-logo-img {
    width: 100px;
  }
}
.zomato-logo {
  width: 20px;
  margin-right: 20px;
}
.address-heading {
  padding-left: 20px;
}
.about-content {
  padding-left: 20px;
}
.address-heading * {
  color: #337ab7 !important;
}
.address-heading * {
  color: #337ab7 !important;
}
.restaurant-desc-photo {
  margin: auto;
  margin-top: -200px;
}
.about-area {
  padding-left: 20px;
  padding-right: 50px;
}
.about-content button {
  margin-right: 20px;
}
